$clr: #333;
$bg: #eeeecc;
body {
  color: $clr;
  background: $bg;
  font-family: arial, helvetica, sans-serif;
}
p {
  padding: 10px 5px;
  margin: 0 0 0 5px;
}
/*
#Button
buttony buttons

<button class="btn">BTN</button>
 */
.btn {
  border: 1px solid red;
  color: $clr;
}
